<h3>Sign in</h3>

<% /* Login Form
      POST route to be used to check if pwd and usname present in database or not */ %>

<form action="/admin" method="POST">

    <label for="username"> <b>Username</b> </label>
    <input type="text" placeholder="Enter Username" name="username">
    <br>
    <label for="password"> <b>Password</b> </label>
    <input type="password" placeholder="Enter Password" name="password">
    <br>
    <input type="submit" value="Login" class="btn">

</form>

<% /* Register Form 
      POST route to be used to check above purpose */ %>
<br><br>

<%  // use below code if you need new registrations %>

<!-- <form action="/register" method="POST">

    <label for="username"> <b>Username</b> </label>
    <input type="text" placeholder="Enter Username" name="username">
    <br>
    <label for="password"> <b>Password</b> </label>
    <input type="text" placeholder="Enter Password" name="password">
    <br>
    <input type="submit" value="Register" class="btn">

</form> -->