<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me Here</title>
    <style>
       .social-media-image {
            width: 35px;
            height: 30px;
        }
       .social-media-image2{
            width: 60px;
            height: 30px;
        }
       .social-media-image3{
            width: 35px;
            height: 35px;
        }
    </style>
</head>
<body>
    <h1>Social Media Links</h1>
    <ul>
        <li>
            <a href="https://github.com/SDpDas" style="color: blue;">
                <h3> 
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="I post cool repositories here" class="social-media-image">
                    <span>-</span> Github
                </h3>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/sagardeep-das/" style="color: blue;">
                <h3> 
                    <img src="https://www.edigitalagency.com.au/wp-content/uploads/Linkedin-logo-png.png" alt="Not much to do profile" class="social-media-image2">
                    <span>-</span> Linkedin
                </h3>
            </a>
        </li>
        <li>
            <div style="color: red;">
                <h3>
                    <img src="https://static.vecteezy.com/system/resources/previews/022/484/516/original/google-mail-gmail-icon-logo-symbol-free-png.png" alt="SRM mail ID" class="social-media-image3">
                    <span>-</span> sd0706@srmist.edu.in
                </h3>
            </div>
        </li>
    </ul>
</body>
</html>