<div class="author">
    <h1 class="author__heading">Search Results</h1>
</div>

<section class = "articles">

    <ul class="article-ul">
        <% for(let Post of data) { %>
        <li>
            <a href="/post/<%= Post._id %>">
                <span><%= Post.title %></span>
                <span class = "article-list__date"><%= Post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% } %>
    </ul>

</section>